body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

code {
  font-family: "Inter", sans-serif;
}
.css-nd8846 :nth-child(4) {
  border-right: solid 1px rgb(225, 224, 224);
  padding-right: 5px;
}

/* @media only screen and (max-width: 991px) {
  .img_rectangulo {
    width: 90%;
    background-color: brown;
  }

  .img_box {
    height: 100%;
  }
} */
